html {
	height: 100%;
}

body {
	border-left: 4px solid rgb(120,140,170);
	height: 100%;
}

#app {
	height: 100%;
    overflow: hidden;
}

.query-ui {
	height: 100%;
	display: flex;
    flex-direction: column;
}

.content {
	height: 100%;
	flex: 1;
    display: flex;
}
