.query-card {
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	.query-card__content {
		width: fit-content;
		padding: 10px;
		background-color: rgb(160,180,210);
		color: black;
		font-size: 14px;
		font-family: "Poppins";
		font-style: italic;
		border-radius: 15px;
	}
}